.input-group {
    width: 60%;
    height: 45px;
}

.form-select {
    width: 160px;
}

/* Estilo para os botões de ação -----------------------------------*/
.btnAcao {
    width: 180px;
}

.btn-source {
    width: 100px;
    background-color: white;
    border: none;
}

.btn-source:hover {
    background-color: #f3f3f3;
}

.btn-info {
    background-color: #0cbbdf;
    color: white;
    font-weight: bold;
}

.btn-info:hover {
    background-color: #109ab6;
    color: white;
}

.btn-danger {
    font-weight: bold;
}

/* Tabela de Lacunas ---------------------------------------------- */
.table th,
.table td {
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
}

.table th {
    background-color: #003366;
    color: white;
    font-size: 17px;
    padding: 12px;
}

.table td {
    padding: 11px;
}

