.form-select {
    width: 100%;
    height: 45px;
    font-size: 15px;
}

.form-control {
    width: 500px;
    height: 45px;
    font-size: 14px;
}

/* Estilo para os botões de ação -----------------------------------*/
.btnAcao {
    width: 180px;
}

.btn-danger {
    font-weight: bold;
}

/* Tabela de Lacunas ---------------------------------------------- */
.table th,
.table td {
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
}

.table th {
    background-color: #003366;
    color: white;
    font-size: 17px;
    padding: 12px;
}

.table td {
    padding: 11px;
}

