.form-select {
    width: 100%;
    height: 45px;
    font-size: 14px;
    padding-left: 0.5rem; /* Espaço para o texto */
    padding-right: 1rem; /* Espaço para a seta do select */
    white-space: nowrap; /* Impede quebra de linha */
    overflow: hidden; /* Esconde o texto que não couber */
    text-overflow: ellipsis; /* Adiciona "..." ao final se o texto não couber */
}

.form-control {
    width: 500px;
    height: 45px;
    font-size: 14px;
}

/* Estilo para os botões de ação -----------------------------------*/
.btnAcao {
    width: 180px;
}

.btn-info {
    background-color: #0cbbdf;
    color: white;
    font-weight: bold;
}

.btn-info:hover {
    background-color: #109ab6;
    color: white;
}

.btn-danger {
    font-weight: bold;
}

/* Tabela de Lacunas ---------------------------------------------- */
.table th,
.table td {
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
}

.table th {
    background-color: #003366;
    color: white;
    font-size: 17px;
    padding: 12px;
}

.table td {
    padding: 11px;
}

